.inputContainer {
  height: 2.813rem;
  border: 1px solid #51515126 !important;
  border-radius: 10px !important;
  color: #515151;
  font-weight: 400;
  width: 25rem;
  font-size: 1rem;
}
.errorInputContainer {
  height: 2.813rem;
  border: 1px solid #c80a0a !important;
  border-radius: 10px !important;
  color: #515151;
  font-weight: 400;
  width: 25rem;
  font-size: 1rem;
}
.errorInputContainer:focus {
  box-shadow: none;
}
.inputContainer:hover {
  border: 1px solid #515151 !important;
}

.inputContainer:focus {
  border: 1px solid #515151 !important;
  box-shadow: none !important;
}

.label {
  color: #515151;
}

.error {
  color: red;
  font-size: 13px;
}

/* Button */
.buttonContainer {
  background-color: #515151;
  color: #fff;
  font-weight: 700;
  height: 50px;
  border-radius: 10px !important;
}
.buttonContainer:hover {
  background-color: #515151 !important;
}
.secondaryButton {
  border: 1px solid #fffefe1a !important;
  background-color: transparent !important;
  font-weight: 700 !important;
  height: 50px;
  border-radius: 10px !important;
}

.secondaryButton:hover {
  border: 1px solid #fffefe1a !important;
  background-color: transparent !important;
  font-weight: 700 !important;
  height: 50px;
}
