.normalText {
  color: #515151;
}
.blueText {
  color: #1b84ff;
}

.homeBlur {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #fff;
}
.homeBackground {
  background-color: #1b84ff0d;
  width: 100%;
  height: 100%;
}
.blurImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blurOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.centerImage {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  z-index: 1;
}

.chatCard {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 85%;
  background: #fff;
  border-radius: 20px;
}

.conversationContainer {
  width: 35%;
  border: 1px solid #5151511a;
  border-radius: 20px;
  padding: 2rem;
}
.chatRightContainer {
  border-radius: 0 !important;
  border-radius: 20px !important;
  background-color: transparent !important;
  border: 1px solid #5151511a !important;
}
.messageInput {
  background-color: transparent !important;
  width: 100%;
  border: none !important;
  color: #fff !important;
}
.messageInput:focus {
  border-color: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.messageInputContainer {
  display: flex;
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.sendIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.chatReceive {
  background-color: #3b3a32;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #ffffff1a;
  padding: 1rem;
  width: 60%;
}
.chatSend {
  background-color: #182427;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #ffffff1a;
  padding: 1rem;
  width: 60%;
  margin-left: auto;
}
.chatMessages {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}
.micButton {
  background-color: transparent !important;
  border: none !important;
}
.micButton:hover:not(:disabled) {
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
}
.micButton:hover {
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
}
.micButton:focus {
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
}
.interruptButton {
  border: 1px solid #5151511a !important;
  background-color: #1b84ff1a !important;
  color: #515151 !important;
}
.interruptButton:focus {
  box-shadow: none !important;
  outline: none !important;
}
.interruptButton:hover:not(:disabled) {
  box-shadow: none !important;
  border: 1px solid #5151511a !important;
  background-color: #1b84ff1a !important;
}
.interruptButton:hover {
  box-shadow: none !important;
  border: 1px solid #5151511a !important;
  background-color: #1b84ff1a !important;
}
.videoContainer {
  width: 100%;
  height: 70%;
  object-fit: contain;
  z-index: 1;
  position: relative;
  display: flex;
  margin-right: auto;
}
.imageInput {
  position: absolute;
  top: 2.75rem;
  left: 1rem;
}
